<div *ngIf="isLoggedIn == 'Yes'">
  <h1>Items For Sale:</h1>
  <ul>
    <li *ngFor="let item of items$">
      <ul>
        <li>
          <a class="basicText" routerLink="/details/{{item.itemNumber}}">{{ item.name }}</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="button" style="width: 120px" button #submit (click)="signOut()">
    <p class="buttonText">Sign Out</p>
  </div>
</div>

<div *ngIf="isLoggedIn != 'Yes'">
  <h1>Please Sign In to Browse</h1>
  <ul>
      <li>
          <div class="button" style="width: 200px" routerLink="">
              <p class="buttonText">Go to Sign In</p>
            </div>
      </li>
    </ul>
</div>