<div *ngIf="isLoggedIn != 'Yes'">
  <h1>Please Sign In</h1>
  <ul>
    <li>
      <p class="basicText">Username:</p><input class="input" type="text" #username />
      <br>
      <p class="basicText">Password:</p><input class="input" type="password" #password />
      <br>
      <div class="button" button #submit (click)="onSubmit(username.value, password.value)">
        <p class="buttonText">Sign In</p>
      </div>
      <p id="errorText">Error: Invalid Credentials</p>
    </li>
  </ul>
</div>

<div *ngIf="isLoggedIn == 'Yes'">
  <h1>You're Already Signed In</h1>
  <ul>
    <li>
      <div class="button" style="width: 120px" button #submit (click)="signOut()">
        <p class="buttonText">Sign Out</p>
      </div>
    </li>
  </ul>
</div>