<div *ngIf="isLoggedIn == 'Yes'">
  <h1>Please Review Your Order</h1>
  <div class="button" style="width: 120px; background-color: #455232;" (click)="buyNow()" routerLink="/thanks">
    <p class="buttonText">Buy Now!</p>
  </div>
  <div class="button" style="width: 120px" button #submit (click)="signOut()">
    <p class="buttonText">Sign Out</p>
  </div>
</div>
      
<div *ngIf="isLoggedIn != 'Yes'">
  <h1>Please Sign In To Shop</h1>
  <ul>
    <li>
      <div class="button" style="width: 200px" routerLink="">
        <p class="buttonText">Go to Sign In</p>
      </div>
    </li>
  </ul>
</div>